asgiref
Babel
Django
django-babel
django-ckeditor
django-cors-headers
django-jazzmin
django-js-asset
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
phonenumbers
Pillow
PyJWT
pytz
sqlparse
tzdat
whitenoise
